/* UTILITY ZONE*/


/*END UTILITY ZONE*/


header{
    background-color: #f8f9fa;
}

main{
    height: calc(100vh - 70px);
}

#sidebar{
}

#bool-stats{
    background-color: #1b72e8;
    color: white;
}

#next-class{
    height: 50px;
}

#faq{
}

#to-do{
}

#active-users{
}



/*HEADER ZONE*/

 #navbar-logo{
    max-height: 50px;
 }











/*DEBUG ZONE*/
.debug header{
    border: 2px solid red;
}

.debug #sidebar{
    border: 2px solid  blue;
}

.debug main{
   
}

.debug #bool-stats{
    border: 2px solid lightgreen;
}

.debug #next-class{
    border: 2px solid blueviolet;
}

.debug #faq{
    border: 2px solid black;

}

.debug #to-do{
    border: 2px solid aquamarine;
}

.debug #active-users{
    border: 2px solid darksalmon;
}